<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GreenLand">
    <link rel="icon" type="image/png" href="{%static 'mainapp/img/logoleaf.png'%}">
    <title>Greenlands NG</title>
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="{%static 'mainapp/vendor/slick/slick.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'mainapp/vendor/slick/slick-theme.min.css'%}" />
    <!-- Feather Icon-->
    <link href="{% static 'mainapp/vendor/icons/feather.css'%}" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'mainapp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{%static 'mainapp/css/style.css'%}" rel="stylesheet">
    <!-- shares stylesheet -->
    <!-- Sidebar CSS -->
    <link href="{% static 'mainapp/vendor/sidebar/demo.css'%}" rel="stylesheet">
</head>

<body class="fixed-bottom-bar">
    <header class="section-header">
        <section class="header-main shadow-sm bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <a href="{%url 'home'%}" class="brand-wrap mb-0">
                            <img alt="#" class="img-fluid" src="{%static 'mainapp/img/logoleaf.png'%}">
                        </a>
                        
                        <!-- brand-wrap.// -->
                    </div>
                    <div class="col-3 d-flex align-items-center m-none">
                        <div class="dropdown mr-3">
                            <a class="text-dark dropdown-toggle d-flex align-items-center py-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div><i class="feather-map-pin mr-2 bg-light rounded-pill p-2 icofont-size"></i></div>
                                <div>
                                    <p class="text-muted mb-0 small">Select Location</p>
                                     Nigeria...
                                </div>
                            </a>
                            <div class="dropdown-menu p-0 drop-loc" aria-labelledby="navbarDropdown">
                                <div class="osahan-country">
                                    <div class="search_location bg-success p-3 text-right">
                                        <div class="input-group rounded shadow-sm overflow-hidden">
                                            <div class="input-group-prepend">
                                                <button class="border-0 btn btn-outline-secondary text-dark bg-white btn-block"><i class="feather-search"></i></button>
                                            </div>
                                            <input type="text" class="shadow-none border-0 form-control" placeholder="Enter Your Location">
                                        </div>
                                    </div>
                                    <div class="p-3 border-bottom">
                                        <a href="{%url 'home'%}" class="text-decoration-none">
                                            <p class="font-weight-bold text-primary m-0"><i class="feather-navigation"></i> Benue, Nigeria</p>
                                        </a>
                                    </div>
                                    <div class="filter">
                                        <h6 class="px-3 py-3 bg-light pb-1 m-0 border-bottom">Choose your country</h6>
                                        <div class="custom-control  border-bottom px-0 custom-radio">
                                            <input type="radio" id="customRadio1" name="location" class="custom-control-input">
                                            <label class="custom-control-label py-3 w-100 px-3" for="customRadio1">Nigeria</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col.// -->
                    <div class="col-8">
                        <div class="d-flex align-items-center justify-content-end pr-5">
                            <!-- search -->
                            <a href="" class="widget-header mr-4 text-dark">
                                <div class="icon d-flex align-items-center">
                                    <i class="feather-search h6 mr-2 mb-0"></i> <span>Search</span>
                                </div>
                            </a>
                            <!-- shares -->
                            <a href="{%url 'shares'%}" class="widget-header mr-4 text-white btn bg-success m-none">
                                <div class="icon d-flex align-items-center">
                                    <i class="feather-disc h6 mr-2 mb-0"></i> <span>Shares</span>
                                </div>
                            </a>
                            <!-- signin -->
                            {%if request.user.is_authenticated%}
                                {%else%}
                            <a href="{%url 'login'%}" class="widget-header mr-4 text-dark m-none">
                                <div class="icon d-flex align-items-center">
                                    <i class="feather-user h6 mr-2 mb-0"></i> <span>Sign in</span>
                                </div>
                            </a>
                            {%endif%}
                            <!-- my account -->
                            <div class="dropdown mr-4 m-none">
                                <a href="#" class="dropdown-toggle text-dark py-3 d-block" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {%if request.user.is_authenticated%}

                                    <img alt="#" src="{{request.user.profile.photo.url}}" class="img-fluid rounded-circle header-user mr-2 header-user"> {%if request.user.is_authenticated %}
                                    {%endif%}
                                    Hi<small> {{request.user.username}}</small>
                                        {%endif%}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{%url 'profile'%}">My account</a>
                                    <a class="dropdown-item" href="{%url 'help'%}">Help</a>
                                    <a class="dropdown-item" href="{% url 'contact'%}">Contact us</a>
                                    <a class="dropdown-item" href="{%url 'terms'%}">Term of use</a>
                                    {%if request.user.is_authenticated%}
                                    <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
                                    {%else%}
                                    <a class="dropdown-item" href="{%url 'login'%}">Login</a>

                                    {%endif%}
                                </div>
                            </div>
                            <!-- signin -->
                            <a href="#" class="widget-header mr-4 text-dark">
                                <div class="icon d-flex align-items-center">
                                    <i class="feather-shopping-cart h6 mr-2 mb-0"></i> <span>Cart</span>
                                </div>
                            </a>
                            <a class="toggle" href="#">
                                <span></span>
                            </a>
                        </div>
                        <!-- widgets-wrap.// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- container.// -->
        </section>
        <!-- header-main .// -->
    </header>
    {% if messages %}

          {% for message in messages %}
              <div class = "alert alert-{{ message.tags }} fa fa-envelope">
                {{message}}
              </div>
          {%endfor%}
    {% endif %} 
    
   {%block content%} 
   
   {%endblock content%}
    <!-- Footer -->
    <div class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center d-none">
        <div class="row">
          
            <div class="col">
                <a href="{%url 'farmlist'%}" class="text-dark small font-weight-bold text-decoration-none">
                    <p class="h4 m-0"><i class="feather-star"></i></p>
                    Farms
                </a>
            </div>
            <div class="col">
                <a href="{%url 'profile'%}" class="text-dark small font-weight-bold text-decoration-none">
                    <p class="h4 m-0"><i class="feather-user"></i></p>
                    Profile
                </a>
            </div>
           
           
            <div class="col">
                <div class="home">
                    <a href="{%url 'home'%}" class="text-dark small font-weight-bold text-decoration-none">
                    <p class="h4 m-0"><i class="feather-home" style="color: green;"></i></p>
                    Home    
                    </a>                    
                </div>
            </div>
            <div class="col">
                <a href="{%url 'shares'%}" class="text-dark small font-weight-bold text-decoration-none">
                    <p class="h4 m-0"><i class="feather-info"></i></p>
                    Shares
                </a>
            </div>
            <div class="col">
                <a href="{%url 'help'%}" class="text-dark small font-weight-bold text-decoration-none">
                    <p class="h4 m-0"><i class="feather-phone"></i></p>
                    Help Center
                </a>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="section-footer border-top bg-dark">
        <div class="container">
            <section class="footer-top padding-y py-5">
                <div class="row">
                    <aside class="col-md-4 footer-about">
                        <article class="d-flex pb-3">
                            <div><img alt="#" src="{%static 'mainapp/img/logoweb.jpg'%}" class="logo-footer mr-3"></div>
                            <div>
                                <h6 class="title text-white">About Us</h6>
                                <p class="text-muted">We connect, We help you get jobs, Buy shares and invest in the future. Greenland is a community that strives to feed and sustain the community.<br>
                                    GreenLand is a Community made of a group of people that looks out to bring the best out of agriculture to her society. We promote agricultural products, we grow farms and we connect workers to agricultural jobs. We provide a platform for young agriculturists to find jobs and earn a reasonable living as an agriculturist. We also provide a room for job owners to get qualified and trustworthy workers
                                <a href="{%url 'about'%}">...read more</a></p>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Facebook" target="_blank" href="#"><i class="feather-facebook"></i></a>
                                    <a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Instagram" target="_blank" href="#"><i class="feather-instagram"></i></a>
                                    <a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Youtube" target="_blank" href="#"><i class="feather-youtube"></i></a>
                                    <a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Twitter" target="_blank" href="#"><i class="feather-twitter"></i></a>
                                </div>
                            </div>
                        </article>
                    </aside>
                    <aside class="col-sm-3 col-md-2 text-white">
                        <h6 class="title">Error Pages</h6>
                        <ul class="list-unstyled hov_footer">
                            <li> <a href="" class="text-muted">Not found</a></li>
                            <li> <a href="" class="text-muted">Maintence</a></li>
                            <li> <a href="" class="text-muted">Coming Soon</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3 col-md-2 text-white">
                        <h6 class="title">Services</h6>
                        <ul class="list-unstyled hov_footer">
                            <li> <a href="{%url 'help'%}" class="text-muted">Delivery Support</a></li>
                            <li> <a href="{%url 'contact'%}" class="text-muted">Contact Us</a></li>
                            <li> <a href="{%url 'terms'%}" class="text-muted">Terms of use</a></li>
                            <li> <a href="" class="text-muted">Privacy policy</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-2 text-white">
                        <h6 class="title">For users</h6>
                        <ul class="list-unstyled hov_footer">
                            <li> <a href="{%url 'login'%}" class="text-muted"> User Login </a></li>
                            <li> <a href="{%url 'register'%}" class="text-muted"> User register </a></li>
                            <li> <a href="{%url 'password_reset'%}" class="text-muted"> Forgot Password </a></li>
                            <li> <a href="{%url 'profile'%}" class="text-muted"> Account Setting </a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-2 text-white">
                        <h6 class="title">More Pages</h6>
                        <ul class="list-unstyled hov_footer">
                            <li> <a href="{%url 'farmlist'%}" class="text-muted"> Farms </a></li>
                            <li> <a href="{%url 'shares'%}" class="text-muted"> Shares </a></li>
                            <li> <a href="{%url 'terms'%}" class="text-muted"> Terms </a></li>
                            <li> <a href="{%url 'help'%}" class="text-muted"> Our Help Center </a></li>
                        </ul>
                    </aside>
                </div>
                <!-- row.// -->
            </section>
            <!-- footer-top.// -->
           
                <!-- row.// -->
            </section>
        </div>
        <!-- //container -->
        <section class="footer-copyright border-top py-3 bg-light">
            <div class="container d-flex align-items-center">
                <p class="mb-0"> © 2020 GreenlandFarms All rights reserved </p>
                <p class="text-muted mb-0 ml-auto d-flex align-items-center">
                    <a href="#" class="d-block"><img alt="#" src="{%static 'mainapp/img/appstore.png'%}" height="40"></a>
                    <a href="#" class="d-block ml-3"><img alt="#" src="{%static 'mainapp/img/playmarket.png'%}" height="40"></a>
                </p>
            </div>
        </section>
    </footer>
    <nav id="main-nav">
        <p id = "username" value = "{{request.user.username}}">  {%if request.user.is_authenticated %}
            {{request.user.username}}{%else%}GreenlandFarms{%endif%}</p>
        <ul class="second-nav">
            <li><a href="{%url 'home'%}"><i class="feather-home mr-2"></i> Homepage</a></li>
            <li>
                <a href="{%url 'profile'%}"><i class="feather-user mr-2"></i> Profile</a>
                <ul>
                    <li><a href="{%url 'profile'%}">My Acount</a></li>
                    <li><a href="{%url 'contact'%}">Contact Us</a></li>
                    <li><a href="{%url 'profile'%}">Become a Worker</a></li>
                </ul>
            </li>
           
            <li>
                <a href="#"><i class="feather-edit-2 mr-2"></i> Authentication</a>
                <ul>
                    <li><a href="{%url 'login'%}">Login</a></li>
                    <li><a href="{%url 'register'%}">Register</a></li>
                    <li><a href="#">Forgot Password</a></li>
                   
                </ul>
            </li>
            <li><a href="{%url 'shares'%}"><i class="feather-info mr-2"></i> Our Shares</a></li>

            <li><a href="{%url 'farmlist'%}"><i class="feather-heart mr-2"></i> Farms</a></li>

            <li><a href="{%url 'profile'%}"><i class="feather-list mr-2"></i>Become a worker</a></li>
            <li><a href="{%url 'about'%}"><i class="feather-list mr-2"></i>About US</a></li>
           
            <li><a href="{%url 'terms'%}"><i class="feather-heart mr-2"></i> Terms of Use</a></li>
            
           
            <li>
            <a href="{%url 'help'%}"><i class="feather-edit-2 mr-2"></i> Help Center</a>

                            <div class="custom-message">
                                
                            </div>
                        </li>

                    </ul>

                </li>
        </ul>
        <ul class="bottom-nav">
            <li class="email">
                <a class="text-dark" href="{%url 'home'%}">
                    <p class="h5 m-0"><i class="feather-home text-success"></i></p>
                    Home
                </a>
            </li>
            <li class="github">
                <a href="{%url 'terms'%}">
                    <p class="h5 m-0"><i class="feather-message-circle"></i></p>
                    Terms
                </a>
            </li>
            <li class="ko-fi">
                <a href="{%url 'help'%}">
                    <p class="h5 m-0"><i class="feather-phone"></i></p>
                    Help
                </a>
            </li>
        </ul>
    </nav>
  
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{%static 'mainapp/vendor/jquery/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="{% static 'mainapp/vendor/slick/slick.min.js'%}"></script>
    <!-- Sidebar JS-->
    <script type="text/javascript" src="{%static 'mainapp/vendor/sidebar/hc-offcanvas-nav.js'%}"></script>
    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="{%static 'mainapp/js/osahan.js'%}"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>

</html>