{%extends "mainapp/base.html"%}
{%load static%}
{%block content%}
    <div class="osahan-home-page">
        <div class="bg-success p-3 d-none">
            <div class="text-white">
                <div class="title d-flex align-items-center">
                    <a class="toggle" href="#">
                        <span></span>
                    </a>
                    <h4 class="font-weight-bold m-0 pl-5">GreenLands</h4>
                </div>
            </div>
            <div class="input-group mt-3 rounded shadow-sm overflow-hidden">
                <div class="input-group-prepend">
                    <button class="border-0 btn btn-outline-secondary text-dark bg-white btn-block"><i class="feather-search"></i></button>
                </div>
                <input type="text" class="shadow-none border-0 form-control" placeholder="Search..">
            </div>
        </div>
        <!-- Filters -->
        <div class="container">
            <div class="cat-slider">
              
                {%for crop in crops%}
                <div class="cat-item px-1 py-3">
                    <a class="bg-white rounded d-block p-2 text-center shadow-sm" href="trending.html">
                        <img alt="#" src="{{crop.photo.url}}" class="img-fluid mb-2">
                        <p class="m-0 small">{{crop.name}}</p>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
        <!-- offer section slider -->
        <div class="bg-white">
            <div class="container">
                <div class="offer-slider">

                        {%for advert in adverts%}
                            <div class="cat-item px-1 py-3">
                                <a class="d-block text-center shadow-sm" href="{%url 'advertdetail' advert.id%}">
                                    <img alt="#" src="{{advert.photo.url}}" class="img-fluid rounded">
                                </a>
                                {%if request.user.is_superuser%}
                            <p><a href="{%url 'deleteadvert' advert.id%}"><small style="color: red;">Delete</a></small>
                            &nbsp;
                            <a href="{%url 'updateadvert' advert.id%}"><small style="color: blue;">Edit</a></small>
                            
                            </p>
                            {%endif%}
                            </div>
                        {%endfor%}
                        
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Trending this week -->
            <div class="pt-4 pb-2 title d-flex align-items-center">
                <h5 class="m-0">Greenlands Farms </h5>
                <a class="font-weight-bold ml-auto" href="{%url 'farmlist'%}">View all <i class="feather-chevrons-right"></i></a>
            </div>
            <!-- slider -->
            <div class="trending-slider">
              
                {%for trending in farms%}
                <div class="osahan-slider-item">
                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                        <div class="list-card-image">
                            {%if trending.available%}
                            <div class="star position-absolute"><span class="badge badge-success"><i class="feather-star"></i> Available</span></div>
                           
                            {%endif%}
                            {%if not trending.available%}
                            <div class="member-plan position-absolute"><span class="badge badge-dark"><i class="feather-star"></i> Unavailable</span></div>

                            {%endif%}

                            <a href="{%url 'farmdetail' trending.id%}">
                                <img alt="#" src="{{trending.photo.url}}" class="img-fluid item-img w-100">
                            </a>
                        </div>
                        <div class="p-3 position-relative">
                            <div class="list-card-body">
                                <h6 class="mb-1"><a href="{%url 'farmdetail' trending.id%}" class="text-black">{{trending.name}}
                              </a>
                                </h6>
                                <p class="text-gray mb-3">{{trending.local_govt}}• {{trending.state}} • {{trending.country}}</p>
                                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="feather-clock"></i>{{trending.offer_season}}</span> 
                            </div>
                            <div class="list-card-badge">
                                <span class="badge badge-danger">OFFER</span> <small> {{trending.offer_gain}} in {{trending.offer_duration}}</small>
                            </div>
                            {%if request.user.is_superuser%}
                            <p><a href="{%url 'deletefarm' trending.id%}"><small style="color: red;">Delete</a></small>
                            &nbsp;
                            <a href="{%url 'updatefarm' trending.id%}"><small style="color: blue;">Edit</a></small>
                            
                            </p>
                            {%endif%}
                        </div>
                    </div>
                </div>
                {%endfor%}
                
                
            </div>

            <div class="container">
                <!-- Farm Tools for Rent -->
                <div class="pt-4 pb-2 title d-flex align-items-center">
                    <h5 class="m-0">Rent Impliments</h5><span class="badge badge-warning"> Hire a Tool</span>
                    <a class="font-weight-bold ml-auto" href="{%url 'toollist' %}">View all <i class="feather-chevrons-right"></i></a>
                </div>
                <!-- slider -->
                <div class="trending-slider">
                    {%for tool in impliments%}
                    <div class="osahan-slider-item">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                            <div class="list-card-image">
                                <div class="star position-absolute"><span class="badge badge-success"> Available</span></div>
                                <a href="{%url 'tooldetail' tool.id%}">
                                    <img alt="#" src="{{tool.photo.url}}" class="img-fluid item-img w-100">
                                </a>
                            </div>
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <h6 class="mb-1"><a href="{%url 'tooldetail' tool.id%}" class="text-black">{{tool.name}}
                                  </a>
                                    </h6>
                                    <p class="text-gray mb-3">{{tool.customer_name}}</p>
                                    <p class="text-gray mb-1 small"> {{tool.local_govt}} • {{tool.state}} • {{tool.country}}</p>
                                </div>
                                <div class="list-card-badge">
                                    <a href="{%url 'tooldetail' tool.id%}"> <span class="badge badge-danger">See Details</span> </a>
                                </div>
                            </div>
                            {%if request.user.is_superuser%}
                            <p><a href="{%url 'deletetool' tool.id%}"><small style="color: red;">Delete</a></small>
                            &nbsp;
                            <a href="{%url 'updatetool' tool.id%}"><small style="color: blue;">Edit</a></small>
                            
                            </p>
                            {%endif%}
                        </div>
                    </div>
                        {%endfor%}
                </div>

            <!-- Lands for Rent -->
            <div class="py-3 title d-flex align-items-center">
                <h5 class="m-0">Lands for Rent</h5>
                <a class="font-weight-bold ml-auto" href="{%url 'landlist'%}">View all <i class="feather-chevrons-right"></i></a>
            </div>
            <!-- Lands For Rent -->
            <div class="most_popular">
                <div class="row">
                    {%for land in lands%}
                    <div class="col-md-3 pb-3">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                            <div class="list-card-image">
                                <div class="star position-absolute"><span class="badge badge-success">Available</span></div>
                                <div class="member-plan position-absolute"><span class="badge badge-dark">1 Year</span></div>
                                <a href="{%url 'landdetail' land.id%}">
                                    <img alt="#" src="{{land.photo.url}}" class="img-fluid item-img w-100">
                                </a>
                            </div>
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <h6 class="mb-1"><a href="{%url 'landdetail' land.id%}" class="text-black"> {{land.name}}
                                
                                 </a>
                                    </h6>
                                    <p class="text-gray mb-1 small"> {{land.local_govt}} •{{land.state}} • {{land.country}}</p>
                                </div>
                                <div class="list-card-badge">
                                    <span class="badge badge-danger">N {{land.cost}}</span> 
                                </div>
                            </div>
                            {%if request.user.is_superuser%}
                            <p><a href="{%url 'deleteland' land.id%}"><small style="color: red;">Delete</a></small>
                            &nbsp;
                            <a href="{%url 'updateland' land.id%}"><small style="color: blue;">Edit</a></small>
                            
                            </p>
                            {%endif%}
                        </div>
                    </div> 
                    {%endfor%} 
                </div>
            </div>
           
            <div class="pt-2 pb-3 title d-flex align-items-center">
                <h5 class="m-0">Job Room</h5><span class="badge badge-warning"> Find Jobs</span>
                <div class="wrap">
                    <form  action = "{%url 'addjob'%}">
                    <button class="buttonn">+Post a Job</button>
                    </form>

                </div>
                <a class="font-weight-bold ml-auto" href="{%url 'joblist'%}">See all <i class="feather-chevrons-right"></i></a>
            </div>
            <!-- Job Room -->
        

                <div class="trending-slider">
                    {%for job in jobs%}

                    <div class="col-md-4 mb-3">
                        <div class="d-flex align-items-center list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                            <div class="star position-absolute"><a href="{%url 'jobdetail' job.id%}"><span class="badge badge-success">See Details</span></a></div>
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <h6><span class="badge badge-dark">{{job.type_of_work}}</span> 
                                 </a>
                                    </h6>
                                    <p class="text-gray mb-3">{{job.local_govt}} • {{job.state}} • {{job.country}}</p>
                                    <p class="text-gray mb-3 time"><span class="badge badge-warning text-dark rounded-sm pl-2 pb-1 pt-1 pr-2">N{{job.cost}}</span></p> 
                                </div>
                                <div class="list-card-badge">
                                    <small>Workers Needed: {{job.number_of_workers}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                </div>
               
             <!-- Job Room -->
             <div class="pt-2 pb-3 title d-flex align-items-center">
                <h5 class="m-0">Worker's Room</h5><span class="badge badge-warning"> Hire a Worker</span>
                <a class="font-weight-bold ml-auto" href="{%url 'workerlist'%}">See all <i class="feather-chevrons-right"></i></a>
            </div>
            <!-- Worker Room -->
            <div class="trending-slider">
                    {%for worker in workers%}
                    <div class="col-md-4 mb-3">
                        <div class="d-flex align-items-center list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                            <div class="list-card-image">
                                <div class="star position-absolute"><span class="badge badge-success"> Available</span> <small>{{worker.user.username}}</small></div>
                                <div class="member-plan position-absolute"><span class="badge badge-dark">Open For Work</span></div>

                                <a href="{%url 'workerlist'%}">
                                    <img alt="#" src="{{worker.user.profile.photo.url}}" class="img-fluid item-img w-100">
                                </a>
                            </div>
                            <p class="text-gray mb-3">{{worker.local_govt}} • {{worker.state}} • {{worker.country}}</p>

                            {%if request.user.is_superuser%}
                            <p><a href="{%url 'deleteworker' worker.id%}"><small style="color: red;">Delete</a></small>
                            &nbsp;
                            <a href="{%url 'updateworker' worker.id%}"><small style="color: blue;">Edit</a></small>
                            
                            </p>
                            {%endif%}
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>


        </div>
{%endblock content%}