{%extends 'dashboard/base.html'%}
{%load static%}
{%block content%}
		  <div id="page-wrapper">
			<div class="graphs">
			 <div class="xs">
				 <h3>Approve a worker</h3>
				   <div class="tab-content">
							<div class="tab-pane active" id="horizontal-form">
								<table>
									<tbody>
										<th>Name</th>
										<th></th>

										<th>phone</th>
										<th>state</th>
										<th></th>

										<th>Action</th>
										<th></th>

										<th>status</th>
										{%for worker in workers%}
										<tr>
											<td>{{worker.user.username}}</td>
											<td></td>

											<td>{{worker.phone}}</td>
											<td></td>
											<td>{{worker.state}}</td>
											<td></td>
											<td>{{worker.approved}}</td>
											<td></td>
											{%if worker.approved%}
											<td>&nbsp;<a  style="color: brown;" href="{%url 'updateworker' worker.id%}"> Remove </a></td>
											{%else%}
											<td>&nbsp;<a href="{%url 'updateworker' worker.id%}"> Approve </a></td>

											{%endif%}
										</tr>
										{%endfor%}
									</tbody>
								</table>
								<div class="paginator">
									{% if is_paginated %}
										  {% if page_obj.has_previous%}
										  <a class="btn btn-outline-info mb-4" href="?page=1"> First</a>
										  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}"> Previous</a>
									
										  {% endif %}
											{% for num in page_obj.paginator.page_range %}
									
											  {% if page_obj.number == num%}
											  <a class="btn btn-info mb-4" href="%?page={{num}}"> {{num}}</a>
											  {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
											  <a class="btn btn-outline-info mb-4" href="?page={{num}}"> {{num}}</a>
									
											  {%endif%}
									
											{%endfor%}
									
										{% if page_obj.has_next %}
										<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}} "> Next</a>
										<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}"> Last</a>
									
										{% endif %}
									
									
									{% endif %}
								  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
						
					
						
		{%endblock content%}
